*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  main{
    margin: 10px 10px 0 10px;
    height: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 50px 150px 70px 150px;
    grid-gap: 10px;
  } 
  
  /*GET YOUR KEY BOX*/
  .page-banner{
    grid-column: 1/5;
    grid-row: auto;
    display: grid;
    grid-gap: 10px;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    text-align: center;
    background-image: url(books.jpg);
    opacity: 0.8;
  }
  
  .title{
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 3em;
    color: white;
    align-self: center;
  }
  
  
  .key-button{
    grid-column: 2/3;
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    height: 50px;
    width: 200px;
    border-radius: 4px;
  }
  
  .key-box{
    background-color: white;
    height: 50px;
    width: 200px;
    font-size: 26px;
    grid-column: 3/4;
    margin: 0 15px 0 0;
    padding: 8px 0 0 0;
    border-radius: 4px;
  }
  
  .saveKeyText{
  color: black;
  /*color:rgb(17, 17, 54);*/
  font-size: 1.5em;
  grid-column: 3/5;
  align-items: center;
  font-weight: bold;
  }
  
  /*LOG IN BOX*/
  .page-grid{
    background-color: lightgrey;
    opacity: 0.8;
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    text-align: center;
  }
  
  .login-input{
    background-color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 4px;
  }
  
  .login-button{
    background-color:black; 
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    font-size: 16px;
    height: 50px;
    width: 200px;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 4px;
  }
  
  /*ADD BOOKS CONTAINER*/
  .add-book-box{
    background-color: lightgrey;
    opacity: 0.8;
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
   
  }
  
  #title-input{
    background-color: white;
    height: 50px;
    width: 250px;
    text-align: center;
    font-size: 16px;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 4px;
  }
  
  #author-input{
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 50px;
    width: 250px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .add-book{
    background-color:black; 
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    font-size: 16px;
    height: 50px;
    width: 200px;  
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: 4px;
  }
  
  
  /*ERROR LOG CONTAINER*/
  .statusMsg{
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    color: white;
    background: rgb(17, 17, 54);
    /*border: 1px solid red;*/
  }
  
  .statusMsg p{
    position: relative; 
    font-size: 1.5em;
    top: 15%;
    transform: trasnalteY(-15%);
  }
  
  .error-log{
    grid-column: 4/5;
    grid-row: 3/4;
    background: white;
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-size: 13px;
    overflow: auto;
    list-style-type: none;
  }
  
  
  .status-message .success {
      color: darkgreen;
  }
  .status-message .fail {
      color: darkred;
  }
  
  /*ADDED BOOKS*/
  .book-page-title{
    grid-column: 1/5;
    grid-row: 4/5;
    text-align: center;
    background: rgb(17, 17, 54);
    color: white;
  }
  
  .book-page-title h1{
    position: relative;
    top: 25%;
    transform: trasnalteY(-25%);
  }
  
  .book-grid {
    grid-column: 1/5;
    grid-row: 5/6;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3em auto;
    grid-gap: 1.5em;
    margin-top: 1em;
    width: 90vw;
    text-align: left;
    font-size: 1.5em;
    list-style-type: none;
    opacity: 0.8;
  }
  
  .button-div > button {
    position: relative;
    top: 5px;
    background-color: black;
    color: white;
    margin: 0 10px 0 0;
    font-size: 15px;
    height: 30px;
    width: 125px;
    border-radius: 4px;
  }
















  
  @media only screen and (max-width: 1100px) {

  .page-banner{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .title{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 2.3em;
  }
  
  .key-button{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  
  .key-box{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .saveKeyText{
grid-column: 1/3;
grid-row: 3/4;
  font-size: 1.5em;
  

  }
  
    /*LOG IN BOX*/
    .page-grid{
        grid-gap: 10px;
    }
    
  .login-input{
    width: 130px;
  }
  
  .login-button{
    width: 110px;
    height: 30px;
  }
  
  /*ADD BOOKS CONTAINER*/
  .add-book-box{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  #title-input{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 250px;
    margin-top: 30px;
  }
  
  #author-input{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 250px;
  }
  
  .add-book{
    height: 30px;
    width: 150px;  
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  /*ERROR LOG CONTAINER*/
  .statusMsg p{
    font-size: 1em;
    top: 20%;
    transform: trasnalteY(-20%);
  }
  /*ADDED BOOKS*/
  .book-grid {
    grid-template-columns: 1fr 1fr;
    font-size: 1.3em;
  }
   
  }

  
  @media only screen and (max-width: 600px) {
  
    main{
      margin: 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 50px 100px 130px 70px 100px auto;
    } 
    
    /*GET YOUR KEY BOX*/
  .page-banner{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .title{
    font-size: 1.7em;  
  }
  
  .key-button{
    height: 40px;
    width: 170px;
    padding: 0 0 4px 0;
  }

  .key-box{
    height: 40px;
    width: 170px;
    padding: 4px 0 0 0;
  }


  
  /*LOG IN BOX*/
  .page-grid{
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .login-input{
    height: 40px;
    width: 170px;
  }
  
  .login-button{
    height: 30px;
    width: 170px;
  }
  
  /*ADD BOOKS CONTAINER*/
  .add-book-box{
    grid-column: 1/3;
    grid-row: 4/5;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  #title-input{
    height: 45px;
    width: 185px;
    grid-column: 1/2;
    grid-row: 1/2;

  }
  
  #author-input{
    height: 45px;
    width: 185px;
    grid-column: 2/3;
    grid-row: 1/2;

  }
  
  .add-book{
    height: 30px;
    width: 170px; 
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 50px;
  }
  
  
  /*ERROR LOG CONTAINER*/
  .statusMsg{
    grid-column: 2/3;
    grid-row: 2/3;
  }


  
  .error-log{
    grid-column: 2/3;
    grid-row: 3/4;
    
  }
  
  
  
  /*ADDED BOOKS*/
  .book-page-title{
    grid-column: 1/3;
    grid-row: 5/6;
  }
  
  .book-page-title h1{
    font-size: 25px;
  }
  
  .book-grid {
    grid-column: 1/3;
    grid-row: 6/7;
    grid-template-columns: 1fr;
    /*grid-template-rows: 100px;*/
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0 0 0 0;
    
  }
  
  }
  
  
  
  
  
  